.main-content {
    margin-left: 25%;
    width: 45%;
    min-width: 320px;
}


.aside-left {
    position: fixed;
    height: 100%;
    width: 25%;
    min-width: 320px;
    background-color: white;
    padding-left: 4%;
    border-right: 1px solid #bababa;
}

.sidebar {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    margin-left: 5%;
    list-style: none;

}

.sidebar li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: #8b97a4;
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
}

.sidebar li:hover {
    color: #00aff0;
    cursor: pointer;
    background-color: rgba(139, 151, 164, 0.16);

    border-radius: 10px;
}

.sidebar li i {
    font-size: 35px;
}

.user-avatar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #d2e2ff;
    color: #00aff0;
    font-size: 15px;
}

.add-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 80%;
    padding: 15px;
    background-color: #00aff0;
    color: white;
    border-radius: 50px;
}